{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
    <h1>Profil</h1>

    <p>Email : {{ userInfo.email }}</p>
    <p>Rôles : {{ userInfo.roles | join(', ') }}</p>
    <p>Vérifié : {{ userInfo.isVerified ? 'Oui' : 'Non' }}</p>

    <a href="{{ path('edit_profil') }}">Éditer mon profil</a>
{% endblock %}
