/* Réinitialiser les styles par défaut du corps de la page */
body {
  border: none; /* Supprime la bordure par défaut du corps de la page */
  margin: 0; /* Supprime la marge par défaut du corps de la page */
  padding: 0; /* Supprime le padding par défaut du corps de la page */
}

/* Style pour la bannière */
.ban {
  width: 100%; /* La bannière prend la largeur totale de l'écran */
  text-align: center; /* Le texte est centré */
}

.ban-image {
  width: 100%; /* L'image de la bannière prend la largeur totale de l'écran */
  height: auto; /* La hauteur de l'image est automatiquement ajustée en fonction de la largeur */
  padding: 20px; /* Un padding de 20px est ajouté autour de l'image */
}

/* Style pour la section des images */
.image-container {
  /* Utilise flexbox pour disposer les images en ligne */
  display: flex;
  /* Permet de passer à la ligne suivante si nécessaire */
  flex-wrap: wrap;
  /* Centre les images horizontalement */
  justify-content: center;
}

.image-item {
  border: none;
  /* Ajoute une ombre pour donner du relief */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.spacer {
  /* Hauteur d'un espace entre les éléments */
  height: 20px;
}

/* Style pour la section du texte */
.text-content {
  /* Centre le texte horizontalement */
  text-align: center;
  /* Marge supérieure pour créer un espace */
  margin-top: 60px;
}

.chatelier {
  /* Police en gras et taille 24px */
  font-weight: bold;
  font-size: 24px;
  /* Centre le titre horizontalement */
  text-align: center;
}

/* Style pour les sections avec un fond blanc */
.white-background {
  /* Couleur de fond blanche */
  background-color: #ffffff;
  /* Marge interne pour créer un espace */
  padding: 20px;
}

/* Style pour les images de flyer */
.flyer-image {
  /* Largeur et hauteur des images de flyer */
  width: 150px;
  height: 150px;
  /* Marge entre les images */
  margin: 10px;
  /* Ajoute une ombre pour donner du relief */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: none;
}

h2 {
  /* Taille et police en gras pour les titres */
  font-size: 24px;
  font-weight: bold;
  /* Centre les titres horizontalement */
  text-align: center;
  /* Applique la police Arial */
  font-family: Arial, sans-serif;
}

p {
  /* Taille de police pour les paragraphes */
  font-size: 18px;
  /* Centre les paragraphes horizontalement */
  text-align: center;
  font-family: Dotum, sans-serif;
}

/* Style pour les boutons */
.btn-dark {
  /* Couleur de fond et couleur de texte pour les boutons */
  background-color: #333;
  color: #ffffff;
  /* Marge interne et bordure pour les boutons */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  /* Curseur pour les boutons */
  cursor: pointer;
  /* Centre les boutons horizontalement */
  text-align: center;
  /* Z-index pour les boutons */
  z-index: 1;
}

.btn-dark:hover {
  /* Couleur de fond pour les boutons au survol */
  background-color: #444;
}

/* Style pour le bouton Chatelier */
.chatelier-button {
  width: 100%; /* Fait que le bouton prend la largeur totale */
  text-align: center; /* Centre le texte du bouton */
}

/* Style pour le bouton Boissons */
.boissons-button {
  float: left; /* Fait flotter le bouton à gauche */
}

/* Style pour le bouton Gourmandises */
.gourmandises-button {
  float: right; /* Fait flotter le bouton à droite */
}

/* Style pour le bouton Les Chats */
.les-chats-button {
  float: left; /* Fait flotter le bouton à gauche */
}

/* Media Queries pour les appareils mobiles (max-width: 480px) */
@media only screen and (max-width: 480px) {
  /* Style pour la section des images */
  .image-container {
    /* Disposition des images en colonne pour adapter à la taille de l'écran mobile */
    flex-direction: column;
    align-items: center; /* Centre les images horizontalement */
  }
  .image-item {
    /* Largeur des images en mode colonne pour adapter à la taille de l'écran mobile */
    width: 100%;
    margin-bottom: 20px; /* Ajout d'une marge inférieure pour séparer les images */
  }
  /* Cacher les éléments avec la classe hide-on-mobile sur les écrans mobiles */
  .hide-on-mobile {
    display: none !important; /* Cache les éléments qui ne doivent pas être affichés sur les écrans mobiles */
  }
  /* Style pour la section du texte */
  p {
    /* Empêche le texte de déborder hors de la zone de texte */
    word-wrap: break-word;
    padding: 0 10px; /* Ajout d'une marge intérieure pour que le texte ne touche pas les bords */
  }
  /* Style pour les images de flyer */
  .flyer-image {
    /* Largeur et hauteur des images de flyer adaptées à la taille de l'écran mobile */
    width: 100px;
    height: 100px;
  }
  
  /* Positionner les flyers au-dessus du texte pour améliorer la lisibilité */
  .d-flex.align-items-center {
    flex-direction: column; /* Disposition en colonne pour les éléments flexibles */
  }
  .d-flex.align-items-center div {
    text-align: center; /* Centre le texte des éléments flexibles */
  }
  .chatelier {
    font-size: 20px; /* Taille de police adaptée à la taille de l'écran mobile */
  }
  
  /* Style pour les boutons */
  .btn-dark {
    width: 80%; /* Largeur des boutons adaptée à la taille de l'écran mobile */
    margin: 10px auto; /* Centre les boutons horizontalement */
  }
}