/* Style pour la bannière */
.ban {
  width: 100%;
  text-align: center;
}

.ban-image {
  width: 100%;
  height: auto;
  padding: 20px;
}

/* Style pour la section des images */
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-item {
  width: 20%;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.spacer {
  height: 20px;
}

/* Style pour la section du texte */
.text-content {
  text-align: center;
}

.chatelier {
  font-weight: bold;
  font-size: 24px;
  text-align: center; /* Ajouté pour centrer le titre */
}

/* Style pour les sections avec un fond blanc */
.white-background {
  background-color: #ffffff;
  padding: 20px;
}

/* Style pour les images de flyer */
.flyer-image {
  width: 250px;
  height: 250px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style pour les boutons */
.btn-dark {
  background-color: #333;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center; /* Ajouté pour centrer le texte du bouton */
  margin: 0 auto; /* Ajouté pour centrer le bouton */
  display: block; /* Ajouté pour centrer le bouton */
}

.btn-dark:hover {
  background-color: #444;
}

/* Mise en page responsive */
@media (max-width: 768px) {
  .image-item {
    width: 40%;
  }
  .flyer-image {
    width: 150px;
    height: 150px;
  }
  .btn-dark {
    padding: 5px 10px;
  }
}

@media (max-width: 480px) {
  .image-item {
    width: 60%;
  }
  .flyer-image {
    width: 100px;
    height: 100px;
  }
  .btn-dark {
    padding: 3px 5px;
  }
}

/* Mise en page responsive pour les images */
@media (max-width: 768px) {
  .image-item {
    width: 30%;
  }
}

@media (max-width: 480px) {
  .image-item {
    width: 50%;
  }
}

@media (max-width: 320px) {
  .image-item {
    width: 100%;
  }
}