/* Style de base pour le corps */
body {
  font-family: Arial, sans-serif; /* Définit la famille de police à Arial */
  background-color: #ffffff; /* Définit la couleur de fond à blanc */
  margin: 0; /* Enlève les marges du corps */
  padding: 20px; /* Ajoute un padding au corps */
}

/* Style pour la bannière */
.ban {
  position: relative; /* Rend la bannière relative */
}

.ban-image img {
  width: 90%; /* Définit la largeur de l'image de bannière à 90% */
  height: 100%; /* Définit la hauteur de l'image de bannière à 100% */
  object-fit: cover; /* Fait de l'image une image de couverture */
  border-radius: 60px; /* Ajoute un rayon de bordure à l'image */
}
/* Conteneur des cartes */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Style pour chaque carte */
.card {
  background-color: #fff;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 300px;
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.card img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 1.5em;
  margin: 15px 0;
  color: #ffffff;
}

.card p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 15px;
  color: #e9e9e9;
}

/* Style pour les détails des cartes */
.details {
  display: none; /* Cache les détails par défaut */
  margin-top: 10px; /* Ajoute un espace entre les détails et le contenu */
  font-size: 1em; /* Définit la taille de police à 1em */
  line-height: 1.6; /* Définit la hauteur de ligne à 1.6 */
}

/* Style pour les paragraphes des détails des cartes */
.details p {
  margin: 0; /* Enlève la marge des paragraphes */
}


