/* Style de base */
.ban {
  position: relative;
}

.ban img {
  width: 100%;
  border-radius: 60px;
  height: auto; /* Ajuste la hauteur pour maintenir les proportions */
}

.text-center {
  text-align: center;
}

.separator {
  border: 0; /* Correction de la bordure */
  border-top: 13px solid #fefefe;
  margin: 2rem 0;
}

.image-container {
  width: 100%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.image-container img {
  width: 225px;
  height: 230px;
  margin-right: 10px;
  object-fit: cover;
}

.container {
  width: 100%; /* Ajusté à 100% pour être plus fluide */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

h2, h3 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #333;
  text-align: center;
}

p {
  font-family: Dotum, sans-serif;
}

/* Cartes */
.card {
  width: 45%;
  max-width: 600px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: black;
  font-size: 18px;
  text-align: center;
}

.toggle-details, .details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.details p {
  font-size: 20px;
  text-align: center;
  color: rgb(17, 17, 17);
}

h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: rgb(17, 17, 17);
}

/* Responsive pour les écrans de moins de 480px (mobiles) */
@media only screen and (max-width: 480px) {
  .ban {
    height: 150px;
  }

  .ban img {
    height: 150px;
  }

  .container {
    padding: 20px;
  }

  .text-center {
    font-size: 18px;
  }

  .image-container {
    flex-direction: column;
  }

  .image-container img {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
  }

  .spacer {
    display: none;
  }

  .card {
    width: 100%;
    margin-bottom: 20px;
  }

  .card h2 {
    font-size: 20px;
  }

  .card p {
    font-size: 16px;
  }
}

/* Responsive pour les écrans de moins de 768px (tablettes) */
@media only screen and (max-width: 768px) {
  .ban {
    height: 250px;
  }

  .ban img {
    height: 250px;
  }

  .container {
    padding: 30px;
  }

  .text-center {
    font-size: 22px;
  }

  .image-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .image-container img {
    width: 50%;
    height: 200px;
    margin-bottom: 20px;
  }

  .spacer {
    display: block;
  }

  .card {
    width: 50%;
    margin-bottom: 20px;
  }

  .card h2 {
    font-size: 24px;
  }

  .card p {
    font-size: 18px;
  }
}
