.container {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
  }
  
  .justify-content-center {
    display: flex;
    justify-content: center;
  }
  
 .card {
    width: 200%;
 }