/* Global */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-md-6 {
  flex-basis: 50%;
}

/* Header */


.header img {
  width: 90%; /* Définit la largeur de l'image de bannière à 90% de la largeur du conteneur */
  height: 100%; /* Définit la hauteur de l'image de bannière à 100% de la hauteur du conteneur */
  object-fit: cover; /* Fait de l'image une image de couverture pour qu'elle occupe tout l'espace disponible */
  border-radius: 60px; /* Ajoute un rayon de bordure à l'image pour donner un aspect arrondi */
}

.header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.separator {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

/* Alertes */

.alert {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #8bc34a;
  color: #3e8e41;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

/* Section */

section {
  padding: 20px;
}

.logo {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
  margin: 20px;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

/* Formulaire */

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="tel"] {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #444;
}