{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}



{% block body %}
    <header>
        <h1>Bienvenue à La Cour des Chats</h1>
       
    </header>
    <main>
        <section>
            <h2>Bienvenue dans notre café-félin</h2>
            <p>Venez découvrir notre univers unique et chaleureux, où vous pourrez profiter d'un délicieux café ou thé en compagnie de nos adorables chats.</p>
            <img src="{{ asset('images/chats-cafe.jpg') }}" alt="Un café-félin avec des chats">
        </section>
        <section>
            <h2>Nos Chats</h2>
            <p>Nous avons une grande variété de chats de toutes races et tailles, tous disponibles pour jouer et se faire câliner.</p>
            <a href="#">En savoir plus</a>
        </section>
        <section>
            <h2>Nos Services</h2>
            <p>Nous offrons une variété de services, y compris des adoptions de chats, des événements privés et des ateliers pour les enfants.</p>
            <a href="#">En savoir plus</a>
        </section>
    </main>
    <hr style="border: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); margin: 2rem 0;">
    <footer>
        <p>&copy; 2023 La Cour des Chats</p>
    </footer>
{% endblock %}

