{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}


{% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
{% endblock %}

{% block body %}


<div class="form-container">
      <form class="form">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" required="">
        </div>
        <div class="form-group">
          <label for="email">nom</label>
          <input type="text" id="email" name="email" required="">
        </div>
        <div class="form-group">
          <label for="email">prenom</label>
          <input type="text" id="email" name="email" required="">
        </div>
        <div class="form-group">
          <label for="textarea">message</label>
          <input name="textarea" id="textarea" rows="10" cols="50" required="" />  
        </div>
        <div class="button">
        <button class="form-submit-btn" type="submit">Submit</button>
        </div>
      </form>
    </div>

{% endblock %}

