{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}



{% block body %}
    <div class="example-wrapper">
    <img src="{{ asset('image/ban/contact.png') }}" alt="Texte alternatif" style="width: 100%; margin-bottom: 20px;">   <br>
   
    <div class="container">
        <p style="text-align: center;">lLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
    <hr class="separator" style="border: 1; border-top: 13px solid #8B4513; margin: 2rem 0;">
</div>
{% endblock %}

